:root{
    --fuentePrincipal:'Open Sans', cursive;
    --Blanco:#ffffff;
    --Negro:#000000;
}

html {
    box-sizing: border-box;
    font-size:62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
    font-weight: bold;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}
p{
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    text-align: justify;
}

input{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

.Principal{
    background-color: var(--Negro);
}

.header{
    height: 75.7rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/images/desarrollo-web-a-medida.jpg);
    color: var(--Blanco);
}

.header__contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.header__titulo{
    text-align: center;
    font-weight: bold;
    color: var(--Blanco);
}

.header__barra{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 1rem;
}

@media (min-width: 768px) {
    .header__barra{
        row-gap: 8rem;
    }
}

@media (min-width: 1024px) {
    .header__barra{
        row-gap: 12rem;
    }
}

.header__navegacion{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.header__navegacion__enlace {
    display: block;
    text-align: center;
    padding: 0.5rem;
    color: var(--Blanco);
}
@media (min-width: 768px) {
    .header__navegacion{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
        margin-top: 5rem;
    }
    .header__navegacion__enlace{
        font-size: 2.1rem;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .header__navegacion{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 5rem;
    }
    .header__navegacion__enlace{
        font-size: 2.1rem;
    }
}

.header__texto {
    margin: 3rem;
    text-align: center;
    color: var(--Blanco);
    margin-top: 3rem;
}

.header__texto h2{
    font-weight: normal;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 6rem;
    }
}

/* ////////////////////////////////////////////// */

.sobreMi{
    height: 75rem;
    background-color: var(--Blanco);
    color: var(--Negro);
    margin: 4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .sobreMi{
        height: 40rem;
    }
}

.iconos{
    height: auto;
    width: 32rem;
    background-color: var(--Negro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Fotografia{
    width: 70%;
    border-radius: 50%;
}

.Seccion_sobreMi{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

.Presentacion{
    margin: 0 2rem 0 0;
}

@media (min-width: 768px) {
    .Seccion_sobreMi{
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 3rem;
    }

    .iconos{
        height: 27rem;
        width: 27rem;
        background-color: var(--Negro);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .Fotografia{
        width: 60%;
        border-radius: 50%;
    }
}

@media (min-width: 1024px) {
    .Seccion_sobreMi{
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .iconos{
        height: 40rem;
        width: 40rem;
        background-color: var(--Negro);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .Fotografia{
        width: 70%;
        border-radius: 50%;
    }
    
    .Seccion_sobreMi{
        display: grid;
        grid-template-columns: 40% 60%;
    }
}

/* ////////////////////////////////////////////// */

.Aptitudes{
    height: 75rem;
    background-color: var(--Negro);
    color: var(--Blanco);
    text-align: center;
}

.Apt_Contenedor{
    padding: 3rem;
}

.conocimientos{
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    row-gap: 3rem;
}

.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.tech{
    height: 5rem;
}

@media (min-width: 768px) {
    .conocimientos{
        height: 100%;
        padding: 4rem;
        display: grid;
        grid-template-rows: repeat(1,1fr);
        row-gap: 3rem;
    }
    
    .tech-list{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    
    .tech{
        height: 8rem;
    }
}

@media (min-width: 1024px) {
    .conocimientos{
        height: 100%;
        padding: 4rem;
        display: grid;
        grid-template-rows: repeat(1,1fr);
        row-gap: 3rem;
    }
    
    .tech-list{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    
    .tech{
        height: 10rem;
    }
}